---
subcategory: ""
page_title: "Create a Morpheus vSphere instance - Morpheus Provider"
description: |-
    An example of creating a Morpheus vSphere instance with optional fields defaulted.
---

# Create a Morpheus instance using the `morpheus_vsphere_instance` resource

{{ tffile "examples/guides/instance_creation/main.tf" }}