# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/5.6/en/server-configuration-defaults.html

[mysqld]
# Remove leading # and set to the amount of RAM for the most important data
# cache in MySQL. Start at 70% of total RAM for dedicated server, else 10%.
innodb_buffer_pool_size = <%=isDocker ? (maxMemory < 512*1024*1024 ? (int)(5) : (int)(maxMemory.div(1024*1024) * 0.69d)) : (maxMemory <= 1024*1024*1024 ? (int)(maxMemory.div(1024*1024) * 0.05d) : (int)(maxMemory.div(1024*1024) * 0.50d))%>M

# Remove leading # to set options mainly useful for reporting servers.
# The server defaults are faster for transactions and fast SELECTs.
# Adjust sizes as needed, experiment to find the optimal values.
# join_buffer_size = 128M
# sort_buffer_size = 2M
# read_rnd_buffer_size = 2M

<%=isDocker && maxMemory < 512*1024*1024 ? 'performance_schema=0' : ''%>
<%=isDocker && maxMemory < 512*1024*1024 ? 'query_cache_size=0' : ''%>
<%=isDocker && maxMemory < 512*1024*1024 ? 'max_connections=10' : ''%>
<%=isDocker && maxMemory < 512*1024*1024 ? 'key_buffer_size=8' : ''%>
<%=isDocker && maxMemory < 512*1024*1024 ? 'thread_cache_size=0' : ''%>
<%=isDocker && maxMemory < 512*1024*1024 ? 'innodb_log_buffer_size=256K' : ''%>
<%=isDocker && maxMemory < 512*1024*1024 ? 'max_heap_table_size=16K' : ''%>
<%=isDocker && maxMemory < 512*1024*1024 ? 'tmp_table_size=1K' : ''%>

