---
page_title: "morpheus_active_directory_identity_source Resource - terraform-provider-morpheus"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# morpheus_active_directory_identity_source

{{ .Description | trimspace }}

## Example Usage

{{tffile "examples/resources/morpheus_active_directory_identity_source/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{codefile "shell" "examples/resources/morpheus_active_directory_identity_source/import.sh" }}
