---
page_title: "morpheus_ansible_tower_integration Resource - terraform-provider-morpheus"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# morpheus_ansible_tower_integration

{{ .Description | trimspace }}

## Example Usage

{{tffile "examples/resources/morpheus_ansible_tower_integration/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{codefile "shell" "examples/resources/morpheus_ansible_tower_integration/import.sh" }}
