---
page_title: "morpheus_app_blueprint_catalog_item Resource - terraform-provider-morpheus"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# morpheus_app_blueprint_catalog_item

{{ .Description | trimspace }}

## Example Usage

{{tffile "examples/resources/morpheus_app_blueprint_catalog_item/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{codefile "shell" "examples/resources/morpheus_app_blueprint_catalog_item/import.sh" }}
