---
page_title: "morpheus_cloud_formation_spec_template Resource - terraform-provider-morpheus"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# morpheus_cloud_formation_spec_template

{{ .Description | trimspace }}

## Example Usage

Creating the cloud formation spec template with local content:

{{tffile "examples/resources/morpheus_cloud_formation_spec_template/resource_local.tf"}}

Creating the cloud formation spec template with the template fetched from a url:

{{tffile "examples/resources/morpheus_cloud_formation_spec_template/resource_url.tf"}}

Creating the cloud formation spec template with the template fetched via git:

{{tffile "examples/resources/morpheus_cloud_formation_spec_template/resource_git.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{codefile "shell" "examples/resources/morpheus_cloud_formation_spec_template/import.sh" }}
