---
page_title: "morpheus_cluster_package Resource - terraform-provider-morpheus"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# morpheus_cluster_package

{{ .Description | trimspace }}

## Example Usage

{{tffile "examples/resources/morpheus_cluster_package/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{codefile "shell" "examples/resources/morpheus_cluster_package/import.sh" }}
