---
page_title: "morpheus_contact Resource - terraform-provider-morpheus"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# morpheus_contact

{{ .Description | trimspace }}

## Example Usage

{{tffile "examples/resources/morpheus_contact/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{codefile "shell" "examples/resources/morpheus_contact/import.sh" }}
