---
page_title: "morpheus_credential Resource - terraform-provider-morpheus"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# morpheus_credential

{{ .Description | trimspace }}

## Example Usage

Creating an access key and secret key credential:

{{tffile "examples/resources/morpheus_credential/resource_access_key_secret.tf"}}

Creating an api key credential:

{{tffile "examples/resources/morpheus_credential/resource_api_key.tf"}}

Creating a client id and client secret credential:

{{tffile "examples/resources/morpheus_credential/resource_client_id_secret.tf"}}

Creating a email and private key credential:

{{tffile "examples/resources/morpheus_credential/resource_email_private_key.tf"}}

Creating a tenant, username, and keypair credential:

{{tffile "examples/resources/morpheus_credential/resource_tenant_username_keypair.tf"}}

Creating a username and api key credential:

{{tffile "examples/resources/morpheus_credential/resource_username_api_key.tf"}}

Creating a username and key pair credential:

{{tffile "examples/resources/morpheus_credential/resource_username_keypair.tf"}}

Creating a username and password credential:

{{tffile "examples/resources/morpheus_credential/resource_username_password.tf"}}

Creating a username, password, and keypair credential:

{{tffile "examples/resources/morpheus_credential/resource_username_password_keypair.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{codefile "shell" "examples/resources/morpheus_credential/import.sh" }}
