---
page_title: "morpheus_cypher_secret Resource - terraform-provider-morpheus"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# morpheus_cypher_secret

{{ .Description | trimspace }}

## Example Usage

{{tffile "examples/resources/morpheus_cypher_secret/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{codefile "shell" "examples/resources/morpheus_cypher_secret/import.sh" }}
