---
page_title: "morpheus_form Resource - terraform-provider-morpheus"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# morpheus_form

{{ .Description | trimspace }}

## Example Usage

{{tffile "examples/resources/morpheus_form/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{codefile "shell" "examples/resources/morpheus_form/import.sh" }}
