---
page_title: "morpheus_guidance_setting Resource - terraform-provider-morpheus"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# morpheus_guidance_setting

{{ .Description | trimspace }}

## Example Usage

{{tffile "examples/resources/morpheus_guidance_setting/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{codefile "shell" "examples/resources/morpheus_guidance_setting/import.sh" }}
