---
page_title: "morpheus_instance_type Resource - terraform-provider-morpheus"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# morpheus_instance_type

{{ .Description | trimspace }}

## Example Usage

{{tffile "examples/resources/morpheus_instance_type/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{codefile "shell" "examples/resources/morpheus_instance_type/import.sh" }}
