---
page_title: "morpheus_ipv4_ip_pool Resource - terraform-provider-morpheus"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# morpheus_ipv4_ip_pool

{{ .Description | trimspace }}

## Example Usage

{{tffile "examples/resources/morpheus_ipv4_ip_pool/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{codefile "shell" "examples/resources/morpheus_ipv4_ip_pool/import.sh" }}
