---
page_title: "morpheus_library_script_task Resource - terraform-provider-morpheus"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# morpheus_library_script_task

{{ .Description | trimspace }}

## Example Usage

Creating the library script task using a library script data source:

{{tffile "examples/resources/morpheus_library_script_task/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{codefile "shell" "examples/resources/morpheus_library_script_task/import.sh" }}
