---
page_title: "morpheus_manual_option_list Resource - terraform-provider-morpheus"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# morpheus_manual_option_list

{{ .Description | trimspace }}

## Example Usage

{{tffile "examples/resources/morpheus_manual_option_list/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{codefile "shell" "examples/resources/morpheus_manual_option_list/import.sh" }}
