---
page_title: "morpheus_max_hosts_policy Resource - terraform-provider-morpheus"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# morpheus_max_hosts_policy

{{ .Description | trimspace }}

## Example Usage

{{tffile "examples/resources/morpheus_max_hosts_policy/resource_global.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{codefile "shell" "examples/resources/morpheus_max_hosts_policy/import.sh" }}
