---
page_title: "morpheus_motd_policy Resource - terraform-provider-morpheus"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# morpheus_motd_policy

{{ .Description | trimspace }}

## Example Usage

{{tffile "examples/resources/morpheus_motd_policy/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{codefile "shell" "examples/resources/morpheus_motd_policy/import.sh" }}
