---
page_title: "morpheus_network_domain Resource - terraform-provider-morpheus"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# morpheus_network_domain

{{ .Description | trimspace }}

## Example Usage

{{tffile "examples/resources/morpheus_network_domain/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{codefile "shell" "examples/resources/morpheus_network_domain/import.sh" }}
