---
page_title: "morpheus_price_set Resource - terraform-provider-morpheus"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# morpheus_price_set

{{ .Description | trimspace }}

## Example Usage

{{tffile "examples/resources/morpheus_price_set/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{codefile "shell" "examples/resources/morpheus_price_set/import.sh" }}
