---
page_title: "morpheus_provisioning_workflow Resource - terraform-provider-morpheus"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# morpheus_provisioning_workflow

{{ .Description | trimspace }}

## Example Usage

{{tffile "examples/resources/morpheus_provisioning_workflow/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{codefile "shell" "examples/resources/morpheus_provisioning_workflow/import.sh" }}
