---
page_title: "morpheus_scale_threshold Resource - terraform-provider-morpheus"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# morpheus_scale_threshold

{{ .Description | trimspace }}

## Example Usage

{{tffile "examples/resources/morpheus_scale_threshold/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{codefile "shell" "examples/resources/morpheus_scale_threshold/import.sh" }}
