---
page_title: "morpheus_service_plan Resource - terraform-provider-morpheus"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# morpheus_service_plan

{{ .Description | trimspace }}

## Example Usage

{{tffile "examples/resources/morpheus_service_plan/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{codefile "shell" "examples/resources/morpheus_service_plan/import.sh" }}
