---
page_title: "morpheus_tag_policy Resource - terraform-provider-morpheus"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# morpheus_tag_policy

{{ .Description | trimspace }}

## Example Usage

Creating the policy with a global scope:

{{tffile "examples/resources/morpheus_tag_policy/resource_global.tf"}}

Creating the policy with a cloud scope:

{{tffile "examples/resources/morpheus_tag_policy/resource_cloud.tf"}}

Creating the policy with a group scope:

{{tffile "examples/resources/morpheus_tag_policy/resource_group.tf"}}

Creating the policy with a user scope:

{{tffile "examples/resources/morpheus_tag_policy/resource_user.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{codefile "shell" "examples/resources/morpheus_tag_policy/import.sh" }}
