---
page_title: "morpheus_textarea_option_type Resource - terraform-provider-morpheus"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# morpheus_textarea_option_type

{{ .Description | trimspace }}

## Example Usage

{{tffile "examples/resources/morpheus_textarea_option_type/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{codefile "shell" "examples/resources/morpheus_textarea_option_type/import.sh" }}
