---
page_title: "morpheus_user_group Resource - terraform-provider-morpheus"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# morpheus_user_group

{{ .Description | trimspace }}

## Example Usage

{{tffile "examples/resources/morpheus_user_group/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{codefile "shell" "examples/resources/morpheus_user_group/import.sh" }}
