---
page_title: "morpheus_vsphere_mks_cluster Resource - terraform-provider-morpheus"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# morpheus_vsphere_mks_cluster

{{ .Description | trimspace }}

## Notes

### What to do if worker nodes fail to provision
Sometimes updating the number of worker nodes may fail unexpectedly and the new worker nodes will fail to provision. If this happens, manually delete the new worker nodes either through the Morpheus UI or using the [Morpheus CLI] (https://clidocs.morpheusdata.com/), and retry the `terraform apply`.

## Example Usage

{{tffile "examples/resources/morpheus_vsphere_mks_cluster/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{codefile "shell" "examples/resources/morpheus_vsphere_mks_cluster/import.sh" }}
