---
page_title: "morpheus_vsphere_instance Resource - terraform-provider-morpheus"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# morpheus_vsphere_instance

{{ .Description | trimspace }}

## Example Usage

{{tffile "examples/resources/morpheus_vsphere_instance/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{codefile "shell" "examples/resources/morpheus_vsphere_instance/import.sh" }}
