---
page_title: "morpheus_wiki_page Resource - terraform-provider-morpheus"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# morpheus_wiki_page

{{ .Description | trimspace }}

## Example Usage

{{tffile "examples/resources/morpheus_wiki_page/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{codefile "shell" "examples/resources/morpheus_wiki_page/import.sh" }}
