---
page_title: "morpheus_workflow_job Resource - terraform-provider-morpheus"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# morpheus_workflow_job

{{ .Description | trimspace }}

## Example Usage

**Manual**

{{tffile "examples/resources/morpheus_workflow_job/resource_manual.tf"}}

**Date and Time**

{{tffile "examples/resources/morpheus_workflow_job/resource_date_and_time.tf"}}

**Execution Schedule**

{{tffile "examples/resources/morpheus_workflow_job/resource_schedule.tf"}}



{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{codefile "shell" "examples/resources/morpheus_workflow_job/import.sh" }}
