---
page_title: "morpheus_write_attributes_task Resource - terraform-provider-morpheus"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# morpheus_write_attributes_task

{{ .Description | trimspace }}

## Example Usage

{{tffile "examples/resources/morpheus_write_attributes_task/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{codefile "shell" "examples/resources/morpheus_write_attributes_task/import.sh" }}
