---
page_title: "Provider: Morpheus"
subcategory: ""
description: |-
  Terraform provider for configuring Morpheus.
---

# Morpheus Provider

The Morpheus provider is used to interact with the resources supported by [Morpheus Cloud Management Platform (CMP)](https://morpheusdata.com/). The provider needs to be configured with the proper credentials before it can be used.

Use the navigation to the left to read about the available resources.

## Authentication

The Morpheus provider supports authentication via username/password or an access token. The [authentication guide](guides/auth.md) describes how to obtain client credentials.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}