---
page_title: "morpheus_ansible_tower_inventory Data Source - terraform-provider-morpheus"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# morpheus_ansible_tower_inventory (Data Source)

{{ .Description | trimspace }}

## Example Usage

{{tffile "examples/data-sources/morpheus_ansible_tower_inventory/data-source.tf"}}

{{ .SchemaMarkdown | trimspace }}