---
page_title: "morpheus_chef_server Data Source - terraform-provider-morpheus"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# morpheus_chef_server (Data Source)

{{ .Description | trimspace }}

## Example Usage

{{tffile "examples/data-sources/morpheus_chef_server/data-source.tf"}}

{{ .SchemaMarkdown | trimspace }}