---
page_title: "morpheus_cloud_datastore Data Source - terraform-provider-morpheus"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# morpheus_cloud_datastore (Data Source)

{{ .Description | trimspace }}

## Example Usage

{{tffile "examples/data-sources/morpheus_cloud_datastore/data-source.tf"}}

{{ .SchemaMarkdown | trimspace }}