---
page_title: "morpheus_cloud Data Source - terraform-provider-morpheus"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# morpheus_cloud (Data Source)

{{ .Description | trimspace }}

## Example Usage

{{tffile "examples/data-sources/morpheus_cloud/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}