---
page_title: "morpheus_clouds Data Source - terraform-provider-morpheus"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# morpheus_clouds (Data Source)

{{ .Description | trimspace }}

## Example Usage

{{tffile "examples/data-sources/morpheus_clouds/data-source.tf"}}

{{ .SchemaMarkdown | trimspace }}