---
page_title: "morpheus_cypher_secret Data Source - terraform-provider-morpheus"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# morpheus_cypher_secret (Data Source)

{{ .Description | trimspace }}

## Example Usage

{{tffile "examples/data-sources/morpheus_cypher_secret/data-source.tf"}}

{{ .SchemaMarkdown | trimspace }}