---
page_title: "morpheus_instance_layout Data Source - terraform-provider-morpheus"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# morpheus_instance_layout (Data Source)

{{ .Description | trimspace }}

## Example Usage

{{tffile "examples/data-sources/morpheus_instance_layout/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}