---
page_title: "morpheus_instance_type Data Source - terraform-provider-morpheus"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# morpheus_instance_type (Data Source)

{{ .Description | trimspace }}

## Example Usage

{{tffile "examples/data-sources/morpheus_instance_type/data-source.tf"}}

{{ .SchemaMarkdown | trimspace }}