---
page_title: "morpheus_key_pair Data Source - terraform-provider-morpheus"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# morpheus_key_pair (Data Source)

{{ .Description | trimspace }}

## Example Usage

{{tffile "examples/data-sources/morpheus_key_pair/data-source.tf"}}

{{ .SchemaMarkdown | trimspace }}