---
page_title: "morpheus_network_group Data Source - terraform-provider-morpheus"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# morpheus_network_group (Data Source)

{{ .Description | trimspace }}

## Example Usage

{{tffile "examples/data-sources/morpheus_network_group/data-source.tf"}}

{{ .SchemaMarkdown | trimspace }}