---
page_title: "morpheus_node_type Data Source - terraform-provider-morpheus"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# morpheus_node_type (Data Source)

{{ .Description | trimspace }}

## Example Usage

{{tffile "examples/data-sources/morpheus_node_type/data-source.tf"}}

{{ .SchemaMarkdown | trimspace }}