---
page_title: "morpheus_option_type Data Source - terraform-provider-morpheus"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# morpheus_option_type (Data Source)

{{ .Description | trimspace }}

## Example Usage

{{tffile "examples/data-sources/morpheus_option_type/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}