---
page_title: "morpheus_permission_set Data Source - terraform-provider-morpheus"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# morpheus_permission_set (Data Source)

{{ .Description | trimspace }}

## Example Usage

{{tffile "examples/data-sources/morpheus_permission_set/data-source.tf"}}

{{ .SchemaMarkdown | trimspace }}