---
page_title: "morpheus_security_package Data Source - terraform-provider-morpheus"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# morpheus_security_package (Data Source)

{{ .Description | trimspace }}

## Example Usage

{{tffile "examples/data-sources/morpheus_security_package/data-source.tf"}}

{{ .SchemaMarkdown | trimspace }}