---
page_title: "morpheus_spec_template Data Source - terraform-provider-morpheus"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# morpheus_spec_template (Data Source)

{{ .Description | trimspace }}

## Example Usage

{{tffile "examples/data-sources/morpheus_spec_template/data-source.tf"}}

{{ .SchemaMarkdown | trimspace }}