---
page_title: "morpheus_vdi_pool Data Source - terraform-provider-morpheus"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# morpheus_vdi_pool (Data Source)

{{ .Description | trimspace }}

## Example Usage

{{tffile "examples/data-sources/morpheus_vdi_pool/data-source.tf"}}

{{ .SchemaMarkdown | trimspace }}