---
page_title: "morpheus_virtual_images Data Source - terraform-provider-morpheus"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# morpheus_virtual_images (Data Source)

{{ .Description | trimspace }}

## Example Usage

{{tffile "examples/data-sources/morpheus_virtual_images/data-source.tf"}}

{{ .SchemaMarkdown | trimspace }}