---
page_title: "morpheus_virtual_image Data Source - terraform-provider-morpheus"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# morpheus_virtual_image (Data Source)

{{ .Description | trimspace }}

## Example Usage

{{tffile "examples/data-sources/morpheus_virtual_image/data-source.tf"}}

{{ .SchemaMarkdown | trimspace }}