---
page_title: "morpheus_workflow Data Source - terraform-provider-morpheus"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# morpheus_workflow (Data Source)

{{ .Description | trimspace }}

## Example Usage

{{tffile "examples/data-sources/morpheus_workflow/data-source.tf"}}

{{ .SchemaMarkdown | trimspace }}